<div style="margin: 50px;">

<p>
    予想には、ほとんど同値ないくつかの述べ方があり、次のように述べることが多い：<br>
  4以上の全ての偶数は、二つの素数の和で表すことができる。<br>
  6以上の全ての偶数は、二つの奇素数の和で表すことができる。（4=2+2:偶素数同士の和）<br>
  このとき、同じ素数を2度使っても良いものとする。<br>
  ＜wikipedi引用＞
</p>
<p>
  未解決でいまだ証明されていない。
</p>

<%= form_tag [ :goldbachs_conjecture, :prime_index ], method: :get do %>
<br>
  コールドバッハ検索 検索
  <%= text_field_tag :goldbachs_conjecture_number, "",maxlength: 6 %>
  <%= submit_tag "検索" %>
<% end %>

</div>
