<div style="margin: 50px;">

<p>
  コールドバッハ予想とは全ての 2 よりも大きな偶数は二つの素数の和として表すことができる
</p>

<%= form_tag [ :goldbachs_conjecture, :prime_index ], method: :get do %>
<br>
  コールドバッハ検索 検索
  <%= text_field_tag :goldbachs_conjecture_number, "",maxlength: 6 %>
  <%= submit_tag "検索" %>
<% end %>

</div>
