<div style="margin: 50px;">
<p>世界最大の素数は、「2の5788万5161乗－1」です</p>

<br>
<!-- こちらのサイトから実際の数が見れます -->
<%#= link_to "257885161-1 is prime", "http://prime.toldyouso.com/digit/m57885161/huge-prime-c.html" %>

</div>
