<%= render "search" %>

デフォルトの設定
<table>
<% (1..50).each do |num| %>
  <td>
  <div class="composite"><%= composite_number(num) %></div>
  <div class="prime"><%= prime_number(num) %></div>
  </td>
<% end %>
</table>

