<br>
<div id="number_center">
  <br>
  <div class="error">
    <%= flash.alert %>
  </div>
  <br>
  <%= render "search" %>
  <div style="height: 1500px;">
    <%= render "search_prime" %>
    <br>
    <%= render "search_twins_prime" %>
  </div>
</div>
