@charset "UTF-8";/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


body {
  font-family: Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  margin: 0;
  padding: 0;
  color: #333; }

.prime {
  color: red; }

#number_center {
  text-align: center; }

table {
  border-collapse: collapse;
  margin: auto; }
  table td, table th {
    width: 100px;
    text-align: center;
    border: 1px solid #c4c4c4;
    padding: 2px 4px; }
  table th {
    background: #f3f3f3; }

.error {
  color: red; }
