body {
  font-family: Meiryo, "ＭＳ Ｐゴシック", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

.prime {
  color: red;
}

#number_center{
  text-align: center;
}

table {
  border-collapse: collapse;

  margin: auto;
  td, th {
    width: 100px;
    text-align: center;
    border: 1px solid #c4c4c4;
    padding: 2px 4px;
  }
  th {
    background: #f3f3f3;
  }
}

.error {
  color: red;
}

